.GeneralClass{
    position: relative;
    text-align: center;
    background: var(--primary-color);
    width: 500px;
    min-height: 650px;
    margin: 0 auto;
    border: 5px solid white;
    box-shadow: pink;
    border-radius: 20px;
}
.inputStyle{
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 15px;
    font-size: 18px;
    background: #808080;
    width: 250px;
    height: 30px;
    cursor: pointer;
    margin: 10px 0;
}
.labelStyle{
    display: inline-block;
}
.textStyleLabel{
    font-family: "SansSerif";
    font-size: 20px;
    text-align: left;
    padding-left: 120px;
}
.errorStyle{
    font-family: "SansSerif";
    font-size: 20px;
    color: red;
}
.btnStyle{
    padding: 15px 30px;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    border: 2px solid white;
    color: white;
}
.paddingStyle{
    padding-top: 50px;
}
.regBtn{
    padding-bottom: 20px;
    position: relative;
    bottom: -80px;
    left: -90px;
}