.Button {
  border: none;
  font-size: 1.5rem;
}

.Button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.Button:active {
  transform: scale(1.1);
}

.primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.clear,
.outline {
  background-color: transparent;
}

.outline {
  border: 2px solid var(--primary-color);
}

.squared {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
