.inputStyle{
    padding: 5px 5px 5px 35px;
    font-size: 18px;
    width: 500px;
    border: 1px solid black;
}
.imgClass{
    max-width: 20px;
    max-height: 20px;
}
.spanImg{
    position: absolute;
    top: 5px;
    left: 470px;
    cursor: pointer;
}
.loupeSpan{
    position: absolute;
    top: 5px;
    left: 7px;
}
.generalInput{
    position: relative;
}