.blockPhoto{
    width: 330px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.generalBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.container{
    padding: 40px 20px 20px 40px;
}
.content{
    flex: 1 0 auto;
}
.footer {
    margin-top: -7px;
    flex: 0 0 auto;
}

.changeColor{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
    font-family: "SansSerif";
}
.buttonBuy{
    display: flex;
    gap: 10px;
    padding: 0 20px 0 0;
}
.imgStyle{
    border-radius: 5px;
    max-width: 330px;
    max-height: 337px;
}