@import './themes/dark.css';
@import './themes/light.css';
@import './ux/transitions.css';

@font-face {
  font-family: Kill The Noise;
  src: url('/fonts/Kill-The-Noise.otf');
}

:root {
  --navbar-height: 100px;
  --light-gray: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  font-family: 'Unbounded', sans-serif;
  font-weight: 200;
}

main {
  font-size: 2rem;
  min-height: calc(100vh - var(--navbar-height));
}

.bold {
  font-weight: bold;
}

.pd-main {
  padding: 3rem;
}

.centered {
  margin: 0 auto;
}

ul {
  list-style: none;
}
